# @see https://www.takeshape.io/docs/creating-an-api-key/
TAKESHAPE_PROJECT_ID=
TAKESHAPE_API_KEY=
TAKESHAPE_API_URL=https://api.takeshape.io/project/:id/graphql
TAKESHAPE_ASSETS_HOST=https://images.takeshape.io/
# Google Analytics
GA_TRACKING_ID=UA-XXX
# Google reCaptcha
RE_CAPTCHA_V3_SITE_KEY=
RE_CAPTCHA_V2_SITE_KEY=
# RSVP Post API URL
RSVP_API_URL=
